* {
    box-sizing: border-box;
}
body {
    font-family: 'Arial', 'Helvetica Neu',Helvetica, sans-serif;
    color:'#777';
    background-color: #777;
    width: '960px';
    font-size: "18px";
    margin: 150px;
    margin-top: 20px;
    

}

header {
    padding:20px;
    margin-bottom: 20px;
    color: grey;
    background: lightgray;
    text-align: center;
}


nav {
    overflow: hidden;
    background: lightgrey;
    color:grey;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;

}
section {
    float:left;
    width:50%;
    background: lightgrey;
    color: grey;
    text-align:center;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    overflow: hidden;
    height: 275px;
}

article{
    background: darkgrey;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 95%;
    height: 200px;
}
 h1,p {
     background:lightgrey;
     color:grey;
     text-align: center;
   margin:10px;
     width: 95%;
     padding:20px;
     padding-bottom: 20px;


 }
aside {
    float: right;
    width: 47%;
    background: lightgrey;
    text-align: center;
    color:grey;
    padding-top: 20px;
    overflow: hidden;
    margin-bottom: 20px;
    height:275px;
}

footer{
    padding:20px;
    color:grey;
    background-color: lightgrey;
    clear: both;
    text-align: center;
}

